<div class="max-w-[720px] mx-auto my-4 p-4 bg-sky-100 rounded-xl">
  <div class="demo-button-container py-4 flex gap-4">
    <div class="hidden md:block">
      <button
        mat-raised-button
        (click)="addData()"
        class="demo-button flex justify-center items-center"
      >
        <mat-icon>add_circle_outline</mat-icon>
        <span>Add Gadget</span>
      </button>
    </div>
    <div class="md:hidden block">
      <button
        mat-fab
        (click)="addData()"
        class="demo-button flex justify-center items-center"
      >
        <mat-icon>add_circle_outline</mat-icon>
      </button>
    </div>

    <div class="hidden md:block">
      <button
        mat-raised-button
        (click)="removeData()"
        class="demo-button flex justify-center items-center"
      >
        <mat-icon>delete_outline</mat-icon>
        <span class="md:block hidden">Remove data</span>
      </button>
    </div>
    <div class="md:hidden block">
      <button
        mat-fab
        (click)="removeData()"
        class="demo-button flex justify-center items-center"
      >
        <mat-icon>delete_outline</mat-icon>
      </button>
    </div>
    <div class="md:block hidden">
      <button
        mat-raised-button
        (click)="addQuantity()"
        class="demo-button flex justify-center items-center"
      >
        <mat-icon>add_circle</mat-icon>
        <span class="md:block hidden"> Add Quantity </span>
      </button>
    </div>
    <div class="md:hidden block">
      <button
        mat-fab
        (click)="addQuantity()"
        class="demo-button flex justify-center items-center"
      >
        <mat-icon>add_circle</mat-icon>
      </button>
    </div>
    <div class="md:block hidden">
      <button
        mat-raised-button
        (click)="removeQuantity()"
        class="demo-button flex justify-center items-center"
      >
        <mat-icon>remove_circle</mat-icon>
        <span class="md:block hidden">Remove Quantity</span>
      </button>
    </div>
    <div class="md:hidden block">
      <button
        mat-fab
        (click)="removeQuantity()"
        class="demo-button flex justify-center items-center"
      >
        <mat-icon>remove_circle</mat-icon>
      </button>
    </div>
  </div>
  <div class="">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox
            (change)="$event ? toggleAllRows() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
            [aria-label]="checkboxLabel()"
          >
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)"
            [aria-label]="checkboxLabel(row)"
          >
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Position Column -->
      <!-- <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>id</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container> -->

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          <button (click)="navigateTo('/gadget/' + element.id)">
            {{ element.item_name }}
          </button>
        </td>
      </ng-container>

      <!-- Price Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>Price</th>
        <td mat-cell *matCellDef="let element">{{ element.item_price }}</td>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef>Quantity</th>
        <td mat-cell *matCellDef="let element">{{ element.item_quantity }}</td>
      </ng-container>

      <!-- Symbol Column -->
      <!-- <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef>Symbol</th>
      <td mat-cell *matCellDef="let element">{{ element.item_quantity }}</td>
    </ng-container> -->

      <!-- Created Column -->
      <!-- <ng-container matColumnDef="createdat">
      <th mat-header-cell *matHeaderCellDef>Symbol</th>
      <td mat-cell *matCellDef="let element">
        {{ element.createdAt | date : "shortDate" }}
      </td>
    </ng-container> -->
      <!-- Actions column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>actions</th>
        <td mat-cell *matCellDef="let element">
          <button (click)="deleteItem(element.id)" class="text-red-700">
            <mat-icon>delete</mat-icon>
          </button>
          <button (click)="updateItem(element.id)" class="text-blue-700">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        (click)="selection.toggle(row)"
      ></tr>
    </table>
  </div>
  <div class="flex justify-center items-center gap-4 my-4">
    <button
      mat-fab
      [disabled]="pageData?.currentPage == 1"
      class="w-10 h-10 rounded-xl bg-stone-100 flex justify-center"
      (click)="previousPage()"
    >
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <p>{{ pageData?.currentPage }} / {{ pageData?.totalPages }}</p>
    <div>
      <button
        mat-fab
        [disabled]="pageData?.currentPage == pageData?.totalPages"
        class="w-10 h-10 rounded-sm bg-stone-100 flex justify-center"
        (click)="nextPage()"
      >
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </div>
  </div>
</div>
